<h2 mat-dialog-title>{{ description }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      placeholder="QuoteType"
      formControlName="QuoteType"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contact" formControlName="Contact" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Task" formControlName="Task" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="DueDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="TaskType" formControlName="TaskType" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
