<!-- {{ dataSource | json }} -->
<div>
  <button mat-raised-button (click)="openDialog()">Add Quote</button>
  <button (click)="Logout()">Logout</button>
  <br />
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Search..."
        (keyup)="searchQuote($event.target.value)"
      />
    </mat-form-field>
    <br />
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="QuoteID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>QuoteID</th>
        <td mat-cell *matCellDef="let element">{{ element.QuoteID }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="QuoteType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>QuoteType</th>
        <td mat-cell *matCellDef="let element">{{ element.QuoteType }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
        <td mat-cell *matCellDef="let element">{{ element.Contact }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Task">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
        <td mat-cell *matCellDef="let element">{{ element.Task }}</td>
      </ng-container>

      <ng-container matColumnDef="DueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DueDate</th>
        <td mat-cell *matCellDef="let element">{{ element.DueDate }}</td>
      </ng-container>

      <ng-container matColumnDef="TaskType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TaskType</th>
        <td mat-cell *matCellDef="let element">{{ element.TaskType }}</td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="
              openDetailDialog(
                element.QuoteID,
                element.QuoteType,
                element.Contact,
                element.Task,
                element.DueDate,
                element.TaskType
              )
            "
          >
            <i class="far fa-eye"></i></button
          >&#160;&#160;
          <button
            (click)="
              openEditDialog(
                element.QuoteID,
                element.QuoteType,
                element.Contact,
                element.Task,
                element.DueDate,
                element.TaskType
              )
            "
          >
            <i class="fas fa-edit"></i></button
          >&#160;&#160;
          <button
            (click)="
              openDeleteDialog(
                element.QuoteID,
                element.QuoteType,
                element.Contact,
                element.Task,
                element.DueDate,
                element.TaskType
              )
            "
          >
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[3, 5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
